* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: #1B2A49;
}

.background-star {
    background-size: cover; 
    background-position: center; 
    overflow: hidden; 
    margin-top: 60rem;
    z-index: -1;
    width: 100%; 
    height: auto; 
  }



  .content-h1 {
    text-align: center;
    z-index: 1;
  }

  .content-h1 h1{
    font-size: 70px;
    color: white;
  }

  .content-h1 h2{
    font-size: 70px;
    color: white;
  }