* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
background-color: #1B2A49;
font-family: "Fredoka", sans-serif;
color: white;
overflow-x: hidden;
  }

  .container-tekst {
    width: 100%;
    height: 100vh;
    background-color: rgba (0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-h1 {
    text-align: center;
    z-index: 1;
    margin-top: -20rem;
  }

  .content-h1 h1{
    font-size: 70px;
    color: white;
  }

  .content-h1 h2{
    font-size: 70px;
    color: white;
  }


  .background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: auto;
  }
  
  .background-star {
    background-size: cover; 
    background-position: center; 
    overflow: hidden; 
    margin-top: -60rem;
    z-index: -1;
    width: 100%; 
    height: auto; 
  }

  .text-side-container {
    position: absolute; 
    top: 70rem; 
    left: 10%;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    max-height: 400px;
    gap: 20px;
    z-index: 1;
  }

  .bigger {
    font-size: 40px
  }

  .bolder  {
    font-weight: bold;
  }

  .kommende-events {
    margin-top: 2rem;
    padding: 20px;
    max-width: 16rem;
    max-height: 10rem;
    background-color: #FF1493; 
    color: white; 
    border-radius: 30px; 
    cursor: pointer; 
    font-size: 16px; 
    border: none;
    box-shadow: 0 0 20px 5px rgba(64, 224, 208, 1);
    transition: box-shadow 0.3s ease; 
    transition: transform 0.5s ease-in-out
  }

.kommende-events:hover {
  box-shadow: 0 0 30px 10px rgba(64, 224, 208, 1);
  cursor: pointer;
  transform: translateY(-10px);
}

.background-gray {
    background-image: url('../img/baggrunden-gray.png'); /* Ensure the background image is set */
    position: absolute; 
    top: 90rem; 
    background-size: cover; 
    background-position: center; 
    z-index: 1;
}

.gray-image {
    width: 100%;
    height: auto;
}

.seneste-nyt-container {
    position: absolute; 
    max-width: 550px;
    max-height: 400px;
    z-index: 1;
    top: 125rem; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.h2-seneste-nyt {
    font-size: 40px;
    color: #FF5900;
}

.slider-container {
    position: absolute; 
    display: flex;
    max-width: 70%;
    box-shadow: 0 0 30px 10px #FF5900;
    top: 135rem; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 2;
}

.slider {
    width: 30rem;
    height: 30rem;
    background-color: red;
    transition: all .9s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.slider:hover {
    width: 60%;
}

.slider:hover img {
    transform: scale(1.1);
}

.line {
    position: absolute;
    border: none;
    border-top: 4px solid #ff5900;
    width: 100%;
    top: 131rem; 
    z-index: 2;
  }

  .line2 {
    position: absolute;
    border: none;
    border-top: 4px solid #ff5900;
    width: 100%;
    top: 168rem; 
    z-index: 2;
  }

  .text-side-container2 {
    position: absolute; 
    top: 220rem; 
    left: 10%;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    max-height: 400px;
    gap: 20px;
    z-index: 1;
  }

  .stoette {
    margin-top: 2rem;
    padding: 20px;
    max-width: 16rem;
    max-height: 10rem;
    background-color: #40E0D0; 
    color: white; 
    border-radius: 30px; 
    cursor: pointer; 
    font-size: 16px; 
    border: none;
    box-shadow: 0 0 20px 5px rgba(255, 20, 147, 1);
    transition: box-shadow 0.3s ease; 
    transition: transform 0.5s ease-in-out;
  }

.stoette:hover {
  box-shadow: 0 0 30px 10px rgba(255, 20, 147, 1);
  cursor: pointer;
  transform: translateY(-10px);
}

.infografik1-container {
    position: absolute; 
    display: flex;
    align-items:flex-end;
    right: 10%;
    top: 205rem; 
    box-shadow: 0 0 20px 5px rgba(64, 224, 208, 1);
    border-radius: 15px; 
    overflow: hidden; 
    transition: transform 0.5s ease-in-out;
}

.infografik1-container img {
    width: 30rem;
    height: auto;
    cursor: pointer;
}

.infografik1-container:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 30px 5px rgba(64, 224, 208, 1);
}

.background-brand {
    position: absolute; 
    top: 250rem; 
    background-size: cover; 
    background-position: center; 
    z-index: 1;
    width: 100vw; 
    height: 100vh; 
}

.brand-image {
    width: 100%;
    height: auto;
}

.infografik2-container {
    position: absolute; 
    display: flex;
    align-items:flex-end;
    left: 10%;
    top: 285rem; 
    box-shadow: 0 0 20px 5px rgba(255, 20, 147, 1);
    border-radius: 15px; 
    overflow: hidden; 
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.infografik2-container img {
    width: 30rem;
    height: auto;
    cursor: pointer;
}

.infografik2-container:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 30px 5px rgba(255, 20, 147, 1);
}

.text-side-container3 {
    position: absolute; 
    top: 298rem; 
    right: 10%;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    max-height: 400px;
    gap: 20px;
    z-index: 1; 
}

.text-side-container4 {
    position: absolute; 
    top: 380rem; 
    left: 10%;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    max-height: 400px;
    gap: 20px;
    z-index: 1; 
}

.kommende-events2 {
    margin-top: 2rem;
    padding: 20px;
    max-width: 16rem;
    max-height: 10rem;
    background-color: #FF5900; 
    color: white; 
    border-radius: 30px; 
    cursor: pointer; 
    font-size: 16px; 
    border: none;
    box-shadow: 0 0 20px 5px rgba(64, 224, 208, 1);
    transition: box-shadow 0.3s ease; 
    transition: transform 0.5s ease-in-out;
  }

.kommende-events2:hover {
  box-shadow: 0 0 30px 10px rgba(64, 224, 208, 1);
  cursor: pointer;
  transform: translateY(-10px);
}

.forum-retro {
    position: absolute; 
    display: flex;
    align-items:flex-end;
    right: 10%;
    top: 375rem; 
    box-shadow: 0 0 20px 5px #FF5900;
    border-radius: 30px; 
    overflow: hidden; 
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.forum-retro img {
    width: 40rem;
    height: auto;
    cursor: pointer;
}

.forum-retro:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 30px 5px #FF5900;
}

.bjerge {
    position: absolute; 
    top: 426rem; 
    background-size: cover; 
    background-position: center; 
    z-index: 1;
    width: 100vw; 
    height: 100vh; 
}

.bjerge-image {
    left: 0;           
    top: 0;               
    width: 100%;          
    height: auto;        
}

/* responsiv design med media queries */

/* Desktop (min-width: 769px) */
@media only screen and (min-width: 769px) {
}


/* Tablet (min-width: 481px and max-width: 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .text-side-container {
        position: absolute; 
        top: 60rem; 
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 550px;
        max-height: 400px;
        gap: 20px;
        z-index: 1;
        text-align: center;
      }

}

/* Telefon (max-width: 480px) */
@media only screen and (max-width: 480px) {

}